{% extends 'base.html.twig' %}

{% block title %}Page Categorie{% endblock %}

{% block body %}
    <div class="container">
        <h2>{{ categorie.name }}</h2>
        <div class="card bg-light" style="padding: 20px">
            {{ form(form) }}
        </div>
        {% if series|length > 0 %}
            {% for serie in series %}
                <div class="col-4" style="margin: 20px;">
                    <div class="card bg-light">
                        {% if serie.affiche is not null %}
                            <img src="{{ asset('assets/images/' ~ serie.affiche) }}" class="card-img-top" />
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ serie.name }}</h5>
                            <p class="card-text">{{ serie.startday |date('Y-m-d') }}</p>
                            <p class="card-text">{% if serie.endday == null %}...{% else %}{{ serie.endday |date('Y-m-d')  }}{% endif %}</p>
                            <p class="card-text">nombre de saisons :{{ serie.nbsaison }}</p>
                            <p class="card-text">{{ serie.categorie.name }}</p>
                            <div class="row justify-space-around">
                                <a href="{{ path('serie',{id: serie.id}) }}" class="btn btn-primary">voir la série</a>
                                <a href="{{path("remove", {id: serie.id})}}" class="btn btn-danger">Supprimer</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>il n'y a pas de série</p>
        {% endif %}

    </div>
{% endblock %}
